[submodule ".config/alacritty/catppuccin/alacritty"]
	path = .config/alacritty/catppuccin/alacritty
	url = https://github.com/catppuccin/alacritty.git
[submodule ".dotfiles/.config/alacritty/catppuccin"]
	path = .dotfiles/.config/alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty.git
